# Ignore Python virtual environment
venv/

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build artifacts
dist/
build/