.app {
  text-align: center;
  font-family: "Courier New", Courier, monospace; /* Terminal-like font */
  padding-top: 50px; /* Add space for the header */
}
  
  .btn {
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  canvas {
    border: 2px solid rgb(168, 164, 219);
  }
  
